@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Dancing+Script:wght@600&family=Open+Sans:wght@300;400;600&family=Poppins:wght@200;300;400;500;600&family=Roboto:wght@700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 10px;
    min-height: 100vh;
    background: rgb(100,92,170);
background: linear-gradient(159deg, rgba(100,92,170,1) 2%, rgba(191,172,224,1) 60%, rgba(191,172,224,1) 78%, rgba(235,199,232,1) 92%);
}
.wrapper{
   
    width: 400px;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    -webkit-box-shadow: 0px 6px 12px -3px rgba(0,0,0,0.4); 
    box-shadow: 0px 6px 12px -3px rgba(0,0,0,0.4);

}
.wrapper header{
    padding: 5px;
    font-size: 24px;
    color: #A084CA;
    display:inline-flex;
    
}
.wrapper header i{
    cursor: pointer;
    font-size: 30px;
    display: none;
}
.info-txt{
    text-align: center;
    font-family: 'Roboto';
   
}
.info-txt.error{
    padding: 3px;
    margin: 3px;
    background-color: #FA9494;
    border: 1px #FA9494;
    border-radius: 4px;
    color: #fff;
    width: 100%;
}
.info-txt.pending{
    padding: 3px;
    margin: 3px;
    background-color: #acc4a0;
    border: 1px #acc4a0;
    border-radius: 4px;
    color: #fff;
    width: 100%;
}
.wrapper hr{
    background-color: #A084CA;
    opacity: 0.4;
   
   

}
.wrapper.active header{
    font-size: 30px;
}
.wrapper.active header i {
   display: flex;
}
.input-part{
    padding: 10px;
    color: rgb(153, 153, 153);
}
.wrapper.active .input-part{
    display: none;
}
.wrapper input{
    margin-top: 4px;
   width: 100%;
   padding: 8px;
   border: 1px solid rgb(193, 190, 190);
  border-radius: 4px;
  -webkit-box-shadow: 0px 6px 12px -3px rgba(0,0,0,0.4); 
box-shadow: 0px 6px 12px -3px rgba(0,0,0,0.4);
   margin: 5px;
   font-family:Arial, Helvetica, sans-serif;
   font-weight: 300;
   outline: none;
  

}
.wrapper input:focus{
    border: none;
}
.wrapper .separer {
    display: flex;
    color: #A084CA;
    align-items: center;
    justify-content: center;
    margin: 3px;
    font-size: 20px;
   
}
.wrapper button{
   color: #fff;
   background-color: #BFACE0;
   border: 1px #b7a0df;
   padding: 5px;
   font-size: 15px;
   font-family: 'Open Sans';
   border-radius: 5px;
   -webkit-box-shadow: 0px 6px 12px -3px rgba(0,0,0,0.4); 
box-shadow: 0px 6px 12px -3px rgba(0,0,0,0.4);
      cursor: pointer;
}
.center{
    text-align: center;
}
.weather-part{
    margin: 10px;
    text-align: center;
    color: #645CAA;
    display: none;
}
.wrapper.active .weather-part{
    display: block;
}
.weather-part img{
    width: 200px;
    -webkit-animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.weather-part i {
    color: #A084CA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.temp{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    margin: 3px;
    font-size: 20px;
}
.weather{
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: 27px;
    color: #A084CA;
    text-transform: capitalize;
}
.location{
    display: flex;
    align-items: center;
    justify-content:center;
}
.numb{
    padding: 3px;
    font-size: 24px;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-9-13 23:55:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-bottom {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
  }
  @keyframes scale-up-bottom {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
  }
  